@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: DM sans;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
